.App {
  background-color: #282c34;
  margin:0;
  padding:0;
  height:100vh;
  color:white;
  display:flex;
  /* justify-content: center; */
}

.inputs{
  padding:5px;
  border: #ffffff 1px solid;
  width:35vw;
  display:flex;
  justify-content: space-between;
}

input {
  background: none;
  border:none;
  width:20vw;
  color:white;
}

#eye{
  width:5vw;
  height:100%;
}

button{
  background:none;
  border:none;
  color:white;
}

#submit-button{
  border:white 1px solid;
}